/* font-family: 'Montez', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Ubuntu', sans-serif; */
body{
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    font-size: 3.5rem;
    padding-left: 20px;
    margin: auto;
    line-height: 1.5;
}

h2{
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    margin: auto;
    padding-bottom: 5px;
    line-height: 1.5;
    
}

p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* Title-Section */

#title{
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

.navbar{
    padding:0 0 4.5rem;
    
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0;
}

.nav-item{
    padding:0 18px;
    font-size: 1.2rem;
}

.col-lg-6{
    padding: 0;
}

.title-text{
    padding: 0 0 7% ;
}

.mobile-img{
    
    width: 15%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* Features-Section */

#features{
    text-align: center;
    padding: 70px 70px ;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}

.icon{
    padding: 7% 15%;
    color: #ef8172;
}



.icon:hover{
    color: #ff4c68;
}

/* Testimonials-Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color:#fff;
    font-family: 'Montserrat Alternates', sans-serif;
    
}

.testimonials-img{
    width: 15%;
    border-radius: 100%;
    padding: 20px;
}

#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-logo{
    width: 10%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* Pricing-Section */

#pricing{
    text-align: center;
    padding: 7% 15%;
}

.pricing-col{
    padding: 3% 2%;
}

@media (max-width:990px) {

    #title{
        text-align:center ;
    }

    .mobile-img{
        width: 60%;
        transform: rotate(0deg);
        position: static;
    }
}

/* Call To Action */

#cta{
    text-align: center;
    color: #ffffff;
    background-color: #ff4c68;
    padding: 7% 20%;
}

/* Footer */

#footer{
    background-color: #ffffff;
    text-align: center;
    padding: 5% 20% 1%;
}

.copywrite{
    width: auto;
    margin: 3% 0 0;
}
